<div class="container">
    <h2><b>{{nombreProd | titlecase}}</b></h2>
    <p class="text-muted">{{resultados}} resultados</p>
    <hr>
    <button class="btn btn-primary left me-2" (click)="tarjetas = false"><i class="fas fa-list-ul"></i></button>
    <button class="btn btn-primary" (click)="tarjetas = true"><i class="fas fa-border-all"></i></button>

    <div class="row" *ngIf="tarjetas">
        <div class="col-6" *ngFor="let producto of productosB" (click)="navegarProducto(producto.id)">
            <div class="m-4 card" style="width: 18rem;">
                <img [src]="[producto.foto | noimage]" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">{{producto.nombre}}</h5>
                    <p class="card-text">{{producto.descripcion | slice:0:50}}{{(producto.descripcion.length>50)?'...':''}}</p>
                    <p class="card-text text-muted">{{producto.marca.nombre}}</p>
                    <h4 class="text-primary">${{producto.precio}}</h4>
                    <p class="ms-1" [ngClass]="producto.disponibilidadGeneral<'26' ? 'text-danger' :'text-muted'">{{(producto.disponibilidadGeneral
                        <26) ? 'Apúrate solo': 'Quedan'}} {{producto.disponibilidadGeneral}} disponibles!</p>

                </div>
            </div>
        </div>
    </div>
    <div class="row" *ngIf="!tarjetas">
        <ul class="list-group">
            <li class="list-group-item flex-row m-3" *ngFor="let producto of productosB" (click)="navegarProducto(producto.id)">
                <img [src]="[producto.foto | noimage]" class="" width="200" height="150">
                <div class="card-body ">
                    <h5 class="card-title">{{producto.nombre}}</h5>
                    <p class="card-text">{{producto.descripcion | slice:0:50}}{{(producto.descripcion.length>50)?'...':''}}</p>
                    <p class="card-text">{{producto.marca.nombre}}</p>
                    <h4>${{producto.precio}}</h4>
                    <p class="ms-1" [ngClass]="producto.disponibilidadGeneral<'26' ? 'text-danger' :'text-muted'">{{(producto.disponibilidadGeneral
                        <26) ? 'Apúrate solo': 'Quedan'}} {{producto.disponibilidadGeneral}} disponibles!</p>
                </div>
            </li>
        </ul>
    </div>
</div>